body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

.payment-page {
    padding: 40px 25px;
    text-align: center;
}

.payment-page h1 {
    margin-bottom: 10px;
    color: #333;
}

.payment-page p {
    color: #666;
    margin-bottom: 30px;
}

.paypal-button {
    width: 100%;
    max-width: 300px;

    padding: 13px;

    border: none;
    border-radius: 8px;

    background: #0070ba;
    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.paypal-button:hover {
    background: #005ea6;
}
